[Desktop Entry]
Type=Application
Version=2.4
Name=FLTrator
Comment=Retro style scrolling arcade game
Exec=fltrator
Icon=FLTrator.png
Terminal=false
Categories=Game;
