[Desktop Entry]
Version=2.7
Type=Application
Name=FLTrator
Comment=FLTK retro style scrolling arcade game
Exec=fltrator %F
Icon=$HOME/.fltrator/FLTrator.png
StartupWMClass=fltrator
Categories=Game
